.rates {
  .set-starting-section(auto; @basic-blue-light);
  padding-top: 67px;
  padding-bottom: 38px;

  display: flex;
  flex-direction: column;

  @media(min-width: @tablet-width) {
    padding-top: 135px;
    padding-bottom: 85px;
  }

  @media(min-width: @desktop-width) {
    padding-top: 167px;
    padding-bottom: 165px;
  }
}

.rates__container {
  .set-cross-platform-limits();
  margin: 0 auto;
  padding-left: 25px;
  width: 270px;

  @media(min-width: @tablet-width) {
    width: auto;
    padding-left: 0;
  }

  @media(min-width: @desktop-width) {
    padding: 0 70px;
  }
}

.rates__title {
  margin-top: 16px;
  margin-bottom: 42px;

  .size(107; 72);

  @media(min-width: @tablet-width) {
    padding: 0 35px;
    margin: 0;
    margin-bottom: 73px;
    .size(auto; auto);

    text-align: center;
  }

  @media(min-width: @desktop-width) {
    margin-bottom: 134px;
  }
}

.rates__list {
  .reset();
  width: 200px;
  margin-bottom: 30px;

  position: relative;

  @media(min-width: @tablet-width) {
    width: auto;
    padding: 0 35px 0 90px;
    margin-bottom: 59px;
  }

  @media(min-width: @desktop-width) {
    padding: 0 272px 0 90px;
    margin-bottom: 59px;
  }
}

.rates__button-open {
  @media(min-width: @tablet-width) {
    .reset();
    margin-left: 90px;
  }

  &:link {
    color: @special-blue-light-10;
  }

  &:visited {
    color: @special-blue-light-10;
  }

  &:focus {
    .set-focus-style-by-area();
  }

  @media (any-hover: hover) {
    &:hover {
      color: @special-blue-light-10;
      opacity: 0.7;
    }
  }

  &:active {
    color: @special-blue-light-10;
    opacity: 0.3;
  }
}

.rates__modal {
  .position-element(fixed; top; 19; left; 0);
  width: 100%;
  flex-direction: column;
  z-index: 1000;

  visibility: hidden;
  opacity: 0;

  @media(min-width: @tablet-width) {
    top: 60px;
  }

  @media(min-width: @desktop-width) {
    top: 160px;
  }

  &.modal__active {
    visibility: visible;
    opacity: 1;
  }
}

.rates__modal-container {
  width: 270px;
  margin: 0 auto;
  z-index: 1100;

  position: relative;
  overflow-y: auto;

  border-radius: 20px;
  background-color: @basic-white;
  box-shadow: 0px 2px 8px rgba(29, 46, 91, 0.14);

  @media(min-width: @tablet-width) {
    width: ~"calc(100% - 80px)";
    box-shadow: 0px 4px 22px rgba(29, 46, 91, 0.18);
  }

  @media(min-width: @desktop-width) {
    width: 750px;
    border-radius: 30px;
  }
}

.rates__modal-title {
  padding: 34px 25px 0;
  margin: 0;
  margin-bottom: 28px;

  text-align: center;

  @media(min-width: @tablet-width) {
    padding: 54px 90px 0;
    margin-bottom: 47px;
  }

  @media(min-width: @desktop-width) {
    padding: 54px 60px 0;
    margin-bottom: 46px;
  }
}

.rates__modal-list {
  .reset();
  width: 219px;
  margin: 0 25px 34px;

  line-height: 22px;

  @media(min-width: @tablet-width) {
    min-width: 506px;
    margin: 0 auto;
    margin-bottom: 52px;

    &.list-options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      font-size: 22px;

      &::after {
        display: none;
      }
    }
  }

  @media(min-width: @desktop-width) {
    width: 630px;
  }

  &>.list-options__term {
    padding-top: 11px;

    @media(min-width: @tablet-width) {
      padding-top: 14px;
      padding-bottom: 13px;

      font-size: 22px;

      &:last-of-type::after {
        .create-rate-section-line(absolute; bottomLeft);
      }
    }

    @media(min-width: @desktop-width) {
      padding-top: 12px;
      padding-bottom: 15px;
    }
  }

  &>.list-options__definition {
    padding-bottom: 11px;

    @media(min-width: @tablet-width) {
      padding-top: 14px;
      padding-bottom: 13px;

      &::before {
        .create-rate-section-line(absolute; left);
      }

      &:last-of-type::after {
        .create-rate-section-line(absolute; bottomLeft);
      }
    }

    @media(min-width: @desktop-width) {
      padding-top: 12px;
      padding-bottom: 15px;
    }
  }
}

.rates__button-close {
  width: 270px;
  text-align: center;
  padding: 21px 15px;
  background-color: @basic-grey-light-90;
  border-radius: 0 0 20px 20px;

  @media(min-width: @tablet-width) {
    width: 100%;
    padding: 41px 20px;
  }

  &:link {
    color: @special-blue;
  }

  &:visited {
    color: @special-blue;
  }

  &:focus {
    .set-focus-style-by-contour();
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: @basic-blue-light;
    }
  }

  &:active {
    background-color: @basic-blue-light;

    color: @special-blue;
    opacity: 0.3;
  }

  @media(min-width: @desktop-width) {
    border-radius: 0 0 30px 30px;

  }
}











