.header-menu__button {
  position: absolute;

  width: 45px;
  height: 35px;

  border: none;
  background-color: inherit;

  cursor: pointer;
}

.header-menu__list {
  padding: 0 15px;
  margin: 0;
  margin-bottom: 51px;

  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 169px;
  }

  @media (min-width: @desktop-width) {
    .reset();

    margin-top: 21px;
    margin-bottom: 12px;
  }

  &::before {
    @media (min-width: @desktop-width) {
      .create-pseudo(static);
      .size(60; 2);
      background-color: @basic-white;
      margin-left: 40px;
      margin-right: 45px;
      margin-top: 7px;
    }
  }
}

.header-menu__item {
  text-align: center;

  @media (min-width: @desktop-width) {
    margin-right: 34px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.header-menu__user-button {
  margin: 0 auto;
  margin-bottom: 66px;

  @media (min-width: @tablet-width) {
    .create-pseudo(absolute; right);
    margin: 0;
    margin-left: auto;
    .size(188; 50);
  }

  @media (min-width: @desktop-width) {
    position: static;
    margin: 0;
    order: 10;
  }
}

.header-menu__contacts {
  padding: 0;
  padding-left: 60px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 53px;

  list-style: none;

  @media (min-width: @desktop-width) {
    .reset();
    margin-left: auto;
  }
}

.header-menu__contacts-item {
  margin-bottom: 27px;

  @media (min-width: @desktop-width) {
    margin: 0;
    .size(50; 50);
    background-color: coral;

  }
}

.header-menu__socials {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  margin-bottom: 41px;
  padding: 0;

  width: 105px;
  height: 21px;

  list-style: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-left: 98px;
  }
}
