.size(@w; @h) when not (ispercentage(@w)) and (ispercentage(@h)) {
  @width: @w;
  width: ~"@{width}px";
  height: @h;
}

.size(@w; @h) when not (ispercentage(@h)) and (ispercentage(@w))  {
  @height: @h;
  width: @w;
  height: ~"@{height}px";
}

.size(@w; @h) when (ispercentage(@w)) and (ispercentage(@h)) {
  width: @w;
  height: @h;
}


.size(@w; @h) when (not(ispercentage(@w)) and not(ispercentage(@h))) {
  @width: @w;
  @height: @h;
  width: ~"@{width}px";
  height: ~"@{height}px";
}

.font-params(@size; @line-heigh) {
  @size-font: @size;
  @height-font: @line-heigh;
  font-size: ~"@{size-font}px";
  line-height: ~"@{height-font}px";
}

.font-params(@size; @line-heigh; @weight) {
  @size-font: @size;
  @height-font: @line-heigh;
  font-size: ~"@{size-font}px";
  line-height: ~"@{height-font}px";
  font-weight: @weight;
}

.reset() {
  margin: 0;
  padding: 0;
}

.create-pseudo(@position) {
  content: "";
  position: @position;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.create-pseudo(@position; right) {
  top: 0;
  right: 0;
}

.create-pseudo(@position; left) {
  top: 0;
  left: 0;
}

.create-pseudo(@position; bottomRight) {
  bottom: 0;
  right: 0;
}

.create-pseudo(@position; bottomLeft) {
  bottom: 0;
  left: 0;
}

.create-pseudo(@position; @_) {
  content: "";
  position: @position;
}


.create-pseudo(@position; @top; @right; @bottom; @left) when(isnumber(@top)) {
  content: "";
  position: @position;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}

.create-pseudo(@position; @side; @value; @side2; @value2) when(iskeyword(@side)) {
  content: "";
  position: @position;
  @{side}: if(isunit(@value, "%") or isstring(@value), @value, ~"@{value}px");
  @{side2}: if(isunit(@value2, "%") or isstring(@value2), @value2, ~"@{value2}px");
}

.set-padding-box() {
  padding: 0 25px;
  width: 100%;

  @media(min-width: @tablet-width) {
    padding: 0 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media(min-width: @desktop-width) {
    padding: 0 58px;
  }
}

.set-cross-platform-limits() {
  @media(min-width: @tablet-width) {
    width: @fixed-tablet-screen;
  }

  @media(min-width: @desktop-width) {
    width: @fixed-desktop-screen;
  }
}

.triangle(@_; @size; @sub-size; @color) {
  width: 0;
  height: 0;

  border: @size solid @color;
}

.triangle(top; @size; @sub-size; @color) {
  border-left-width: @sub-size;
  border-right-width: @sub-size;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: none;
}

.triangle(bottom; @size; @sub-size; @color) {
  border-left-width: @sub-size;
  border-right-width: @sub-size;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-style: none;
}

.triangle(left; @size; @sub-size; @color) {
  border-top-width: @sub-size;
  border-bottom-width: @sub-size;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-style: none;
}

.triangle(right; @size; @sub-size; @color) {
  border-top-width: @sub-size;
  border-bottom-width: @sub-size;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-style: none;
}

.triangle-box-top(@size; @sub-size; @color: @special-blue) {
  .triangle(top; ~"@{size}px"; ~"@{sub-size}px"; @color);
}

.triangle-box-right(@size; @sub-size; @color: @special-blue) {
  .triangle(right; ~"@{size}px"; ~"@{sub-size}px"; @color);
}

.triangle-box-bottom(@size; @sub-size; @color: @special-blue) {
  .triangle(bottom; ~"@{size}px"; ~"@{sub-size}px"; @color);
}

.triangle-box-left(@size; @sub-size; @color: @special-blue) {
  .triangle(left; ~"@{size}px"; ~"@{sub-size}px"; @color);
}

.set-desktop-grid() {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    column-gap: @desktop-grid-gap;
  }
}
