// text
@m-font-size-text: 16px;
@m-font-size-section-title: 24px;
@m-font-size-title: 20px;

//color
@basic-white: #FFFFFF;
@basic-blue: #161C35;
@special-blue: #1D2E5B;
@basic-blue-light: #EDEFF6;
@special-blue-light: #DFE3F0;
@basic-yellow: #FFD74B;
@basic-yellow-dark: #FFBD30;
@basic-orange: #FF8D30;
@basic-orange-light: #FFA530;
@basic-grey: #444444;
@basic-grey-light: #CCCCCC;
@special-red: #F47E7E;

//device-width
@mobile-width: 320px;
@mobile-width-only: 767px;

@tablet-width: 768px;
@tablet-width-only: 1439px;
@fixed-tablet-screen: 760px;

@desktop-width: 1440px;
@fixed-desktop-screen: 1324px;

// distances
@general-mobile-padding: 25px;
@general-tablet-padding: 40px;
@general-desk-padding: 58px;
