.button {
  display: block;

  width: 270px;
  height: 50px;
  padding: var(--button-vertical-padding) var(--button-horizontal-padding);

// in case of this is a link
  outline: none;
  text-decoration: none;

  color: @basic-blue;
  border: none;
  border-radius: 25px;
  background-color: @basic-yellow;

  cursor: pointer;

  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  overflow-wrap: break-word;

  --button-vertical-padding: 13px;
  --button-horizontal-padding: 30px;

  &--oval-nav {
    .font-params(17; 30; 700);
    @media(min-width: @tablet-width) {
      .font-params(20; 20; 400);
    }
    @media(min-width: @desktop-width) {
      font-weight: 700;
    }
  }

  &--oval {
    .font-params(17; 20; 700);
    @media(min-width: @tablet-width) {
      .font-params(20; 20);
    }
  }
}
