.button {
  display: block;

  width: 270px;
  height: 50px;

  color: @basic-blue;
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: @basic-yellow;

  cursor: pointer;

  text-align: center;
  text-transform: uppercase;

  &--oval {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
  }
}
