.link {
  outline: none;
  text-decoration: none;
  color: @basic-blue;
  text-transform: uppercase;

  &:visited {
    color: @basic-blue;
  }

  &:active {
    color: @basic-blue;
  }

  &--menu {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
  }

  &--contacts {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }
}


