.link {
  outline: none;
  text-decoration: none;
  color: @basic-blue;
  text-transform: uppercase;

  &:visited {
    color: @basic-blue;
  }

  &:active {
    color: @basic-blue;
  }

  &--menu {
    .font-params(30; 35; 500);
    @media(min-width: @tablet-width) {
      .font-params(60; 71);
    }

    @media (min-width: @desktop-width) {
      .font-params(20; 20);

      &:visited {
        color: @basic-white;
      }

      &:active {
        color: @basic-white;
      }
    }
  }

  &--contacts {
    .font-params(16; 18; 700);

    @media(min-width: @tablet-width) {
      .font-params(28; 28);
    }
  }
}


